<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "/assets/css/student.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Essay Editor</title>
</head>
<body>
    <header>
        <%- include('./partials/header'); %>
    </header>

    <div class="back_centered">
        <div class="text_container">
            <form class="submission" method="post" action="/student">
                <div class="sidebar" id="sidenav">
                    <input type="text" name="name" class="name" style="display: none;" value="<%= essay.name %>"></input>
                    <input type="text" name="id" class="id" style="display: none;" value="<%= essay._id %>"></input>
                    <input type="text" name="documentId" class="doc_id" style="display: none;" value="<%= essay.googleId %>"></input>
                    <input type="text" name="content" class="content" style="display: none;"></input>
                    <div class="submit_button">
                        <a onclick="submitClicked()">Submit</a>
                    </div>
                </div>
                <a class="openbtn material-icons" onclick="toggleSidebar()">view_headline</a>
                <div class="front" id="main">
                    
                </div>
            </form>
        </div>
    </div>
    <script>
        const API_KEY = '<%= API_KEY %>';
        const CLIENT_ID = '<%= CLIENT_ID %>';
        const CLIENT_SECRET = '<%= CLIENT_SECRET %>';
    </script>
    <script async defer src="/assets/js/student.js"></script>
    <script async defer src="https://apis.google.com/js/api.js" onload="gapiLoaded()"></script>
    <script async defer src="https://accounts.google.com/gsi/client" onload="gisLoaded()"></script>
    <script async defer src="https://apis.google.com/js/client.js"></script>
</body>
</html>