<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/css/teacher.css" rel="stylesheet" type="text/css" />
    <title>Teacher Portal</title>
</head>

<body>
    <header>
        <%- include('./partials/header'); %>
    </header>
    <div class="back">
        <div class="front">
            <div class="label">
                <h2 class="teacher_writing">Teacher Portal</h2>
            </div>
            <div class="list" onload="addEssays()">
                <% submissions.forEach((essay) => { %>
                    <% if(essay.inProgress != true) { %>
                        <form class="redirect_view_<%= essay._id %>" action="/teacher" method="post">
                            <input name="essay_id" type="text" style="display: none;" value="<%=essay._id%>">
                            <input name="googleId" type="text" style="display: none;" value="<%=essay.googleId%>">
                            <input name="token" type="text" style="display: none;" value="<%=token%>">
                            <a class="list_item_a">
                                <div class="list_item" onclick="redirectToView('<%-essay._id%>')">
                                    <h2> <%= essay.name %> </h2>
                                </div>
                            </a>
                        </form>
                    <% } %>
                <% }); %>
            </div>
        </div>
    </div>
    <script async defer src="/assets/js/teacher.js"></script>
</body>
</html>