<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/view.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Essay View</title>
</head>

<body>
    <header>
        <%- include('./partials/view_header'); %>
    </header>
    <div class="back_centered">
        <div class="text_container">
            <form class="essay_del" method="post" action="/view">
                <input type="text" name="id" class="id" style="display: none;"></input>
            </form>
            <form class="submission">
                <div class="front">
                    <div class="text_div">
                        <textarea name="content" class="scroll" type="text" disabled><%=essay.content%></textarea>
                    </div>
                    <div class="side_scroll">
                        <div class="score_info">
                            <h2><%=essay.name%></h2>
                        </div>
                        <div class="score_info">
                            <h2>Grade: <%=essay.grade%> / 100</h2>
                        </div>
                        <div class="score_info">
                            <a onclick="toggleIncor()">
                                <h2 class="expand_incor"><i class="material-icons" style="font-size: 14px;">&#xe5c5;</i>Show Incorrect</h2>
                            </a>
                        </div>
                        <% for(let i = 0; i < essay.incorrect.length; ++i) { %>
                            <div class="incor_info" style="display: none;">
                                <h2><%=essay.incorrect[i]%></h2>
                            </div>
                        <% } %>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.querySelector('.del').addEventListener('click', () => {
            document.querySelector('.essay_del').submit();
        });
        function toggleIncor() {
            document.querySelectorAll('.incor_info').forEach((element) => {
                if(element.getAttribute('style').includes('none')) {
                    element.setAttribute('style', 'display: block');
                    document.querySelector('.expand_incor').innerHTML = ''
                      +  '<i class="material-icons" style="font-size: 14px;">arrow_drop_up</i>'
                      +  'Hide Incorrect';
                }
                else {
                    element.setAttribute('style', 'display: none');
                    document.querySelector('.expand_incor').innerHTML = ''
                      +  '<i class="material-icons" style="font-size: 14px;">arrow_drop_down</i>'
                      +  'Show Incorrect';
                }
            })
        }
        window.onload = () => {
            let url = window.location.href;
            let id = url.split('id=')[1];
            id = id.replaceAll('%22', '');
            document.querySelector('.id').value = id;
        };
    </script>
</body>
</html>