<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/css/view.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Essay View</title>
</head>

<body>
    <header>
        <%- include('./partials/view_header'); %>
    </header>
    <div class="back_centered">
        <div class="card">
            <input type="radio" name="popup" value="open" id="popup-open" class="popup-radio" style="display: none;"/>
            <div class="popup">
                <label class="popup-label overlay">
                    <input type="radio" name="popup" value="close" class="popup-radio"/>
                </label>
            <div class="content">
                <h2>Add Teacher Comments</h2>
                <label class="popup-label close-btn">
                    <input type="radio" name="popup" value="close" class="popup-radio"/>
                </label>
                <form class="submit_comments" action="/api/comments/<%= essay._id %>" method="post" onkeydown="return event.key != 'Enter';">
                    <input type="text" name="comments" class="input_comments"/>
                    <pre></pre>
                    <a class="submit_a_comments"><button type="submit">Submit</button></a>
                </form>
            </div>
        </div>
        <div class="text_container">
            <input type="text" name="document_id" class="document_id" style="display: none;" value="<%= essay.googleId %>"/>
            <input type="text" name="id" class="id" style="display: none;" value="<%= essay._id %>"/>
            <div class="front">
                <div class="sidebar" id="sidenav">
                    <pre></pre>
                    <a onclick="turnFullScreen()">Preview Essay</a>
                    <% if(user == "teacher") { %>
                        <pre></pre>
                        <a onclick="openPopup()">Add Comments</a>
                    <% } %>
                </div>
                <div class="open_container">
                    <a class="openbtn material-icons" onclick="toggleSidebar()">view_headline</a>
                </div>
                <div class="essay_container" id="main">
                    <div class="text_div">

                    </div>
                    <div class="student_info">
                        <h3>Comments:</h3>
                        <p><%= essay.comments %></p>
                        <h3>Errors:</h3>
                        <% essay.incorrect.forEach((error) => { %>
                            <p>  - <%= error %></p>
                        <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script async defer src="/assets/js/view.js"></script>
</body>
</html>