<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/assets/css/view.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>Essay View</title>
</head>

<body>
    <header>
        <%- include('./partials/view_header'); %>
    </header>
    <div class="back_centered">
        <div class="text_container">
            <input type="text" name="document_id" class="document_id" style="display: none;" value="<%= essay.googleId %>"/>
            <input type="text" name="id" class="id" style="display: none;" value="<%= essay._id %>"/>
            <div class="front">
                <div class="sidebar" id="sidenav">
                    <a>Show Incorrect</a>
                    <pre></pre>
                    <% if(user == "teacher") { %>
                        <a>Add Comments</a>
                    <% } %>
                </div>
                <div class="open_container">
                    <a class="openbtn material-icons" onclick="toggleSidebar()">view_headline</a>
                </div>
                <div class="text_div" id="main">
                    
                </div>
                <% if(user === "student") { %>
                    <div class="side_scroll">
                        <div class="score_info">
                            <a onclick="toggleIncor()">
                                <h2 class="expand_incor"><i class="material-icons" style="font-size: 14px;">&#xe5c5;</i>Show Incorrect</h2>
                            </a>
                        </div>
                        <% for(let i = 0; i < essay.incorrect.length; ++i) { %>
                            <div class="incor_info" style="display: none;">
                                <h2><%=essay.incorrect[i]%></h2>
                            </div>
                        <% } %>
                        <div class="score_info">
                            <a onclick="toggleCom()">
                                <h2 class="expand_com"><i class="material-icons" style="font-size: 14px;">&#xe5c5;</i>Show Incorrect</h2>
                            </a>
                        </div>
                        <div class="incor_info">
                            <h2>Comments: <%= essay.comments %></h2>
                        </div>
                    </div>
                <% } else { %>
                    <div class="comments">
                        <button type="button" class="submit_com" onclick="postComments()">Add Comments</button>
                        <input class="entered_comments" type="text" name="comments">
                    </div>
                <% } %>
            </div>
        </div>
    </div>
    <script async defer src="/assets/js/view.js"></script>
</body>
</html>